
<h1>Suits inventory</h1>
<p><%= link_to 'Back to Homepage', root_path %></p>
<p>
    <%= link_to "Add new suits", new_suit_path %>
</p>

<table class="pretty">
  <tr>
    <th><%= sortable "appid" %></th>
    <th><%= sortable "gender" %></th>
    <th>Description</th>
    <th><%= sortable "size" %></th>
    <th><%= sortable "status" %></th>
  </tr>
  <% for suit in @suits %>
    <tr>
      <td><%= suit.appid %></td>
      <td><%= suit.gender %></td>
      <td><%= suit.description %></td>
      <td><%= suit.size %></td>
      <td><%= suit.status %></td>
    </tr>
  <% end %>
</table>

