<% title "Suit" %>

<p>
  <strong>Appid:</strong>
  <%= @suit.appid %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @suit.gender %>
</p>
<p>
  <strong>Description:</strong>
  <%= @suit.description %>
</p>
<p>
  <strong>Size:</strong>
  <%= @suit.size %>
</p>
<p>
  <strong>Status:</strong>
  <%= @suit.status %>
</p>

<p>
  <%= link_to "Edit", edit_suit_path(@suit) %> |
  <%= link_to "Destroy", @suit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to Closet", suits_path %>
</p>